

.header, .hero, .body, .bar, .footer{
	background-color: #102010;
	margin-bottom: 10px;
}
.box{
	margin: 10px;
	min-height: 80px;
	background-color: yellow;
	font-size: 30px;
	color: black;
	text-align: center;
}

.greenyellow{
	background-color: lime;
}


.five{
	background-color: red;
}

